<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!-- Reusable alert -->
<div th:fragment="alert">
    <th:block th:switch="${message.type}">
        <div th:case="'WARNING'">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${message.message}"></span>
            </div>
        </div>
        <div th:case="'DANGER'">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${message.message}"></span>
            </div>
        </div>
    </th:block>
</div>

</body>
</html>