<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="currentInfo">
    <div class="row row-grey">
        <div class="col-md-2">
            <span class="bold-span">Vent: </span><comment th:text="${forecast.currently.windSpeed}" />m/s
        </div>
        <div class="col-md-2">
            <span class="bold-span">Humidité: </span><comment th:text="${forecast.currently.humidity}"/>%
        </div>
        <div class="col-md-2">
            <span class="bold-span">Point de rosée: </span><comment th:text="${forecast.currently.dewPoint}" />°C
        </div>
        <div class="col-md-2">
            <span class="bold-span">UV: </span>
                <comment th:if="${forecast.currently.uvIndex == 0}" th:text="${forecast.currently.uvIndex}" class="uv-low"/>
                <comment th:if="${forecast.currently.uvIndex == 1}" th:text="${forecast.currently.uvIndex}" class="uv-low"/>
                <comment th:if="${forecast.currently.uvIndex == 2}" th:text="${forecast.currently.uvIndex}" class="uv-low"/>
                <comment th:if="${forecast.currently.uvIndex == 3}" th:text="${forecast.currently.uvIndex}" class="uv-moderate"/>
                <comment th:if="${forecast.currently.uvIndex == 4}" th:text="${forecast.currently.uvIndex}" class="uv-moderate"/>
                <comment th:if="${forecast.currently.uvIndex == 5}" th:text="${forecast.currently.uvIndex}" class="uv-moderate"/>
                <comment th:if="${forecast.currently.uvIndex == 6}" th:text="${forecast.currently.uvIndex}" class="uv-hight"/>
                <comment th:if="${forecast.currently.uvIndex == 7}" th:text="${forecast.currently.uvIndex}" class="uv-hight"/>
                <comment th:if="${forecast.currently.uvIndex == 8}" th:text="${forecast.currently.uvIndex}" class="uv-very-hight"/>
                <comment th:if="${forecast.currently.uvIndex == 9}" th:text="${forecast.currently.uvIndex}" class="uv-very-hight"/>
                <comment th:if="${forecast.currently.uvIndex == 10}" th:text="${forecast.currently.uvIndex}" class="uv-very-hight"/>
                <comment th:if="${forecast.currently.uvIndex > 10}" th:text="${forecast.currently.uvIndex}" class="uv-extrem"/>
            <!-- Button trigger modal -->
            <sup>
                <a href="" data-toggle="modal" data-target="#uvModal">?</a>
            </sup>

            <!-- Modal -->
            <div class="modal fade" id="uvModal" tabindex="-1" role="dialog" aria-labelledby="uvModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Indice UV</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Indice UV</th>
                                        <th>Niveau de risque</th>
                                        <th>Couleur</th>
                                        <th>Protection(s) recommandée(s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1-2</td>
                                        <td>Faible</td>
                                        <td style="background-color: #4DC7A0;"></td>
                                        <td>Port de lunettes de soleil en cas de journées ensoleillées.</td>
                                    </tr>
                                    <tr>
                                        <td>3-5</td>
                                        <td>Modéré</td>
                                        <td style="background-color: burlywood;"></td>
                                        <td>Se couvrir et porter un chapeau et des lunettes de soleil.</td>
                                    </tr>
                                    <tr>
                                        <td>6-7</td>
                                        <td>Élevé</td>
                                        <td style="background-color: darkorange;"></td>
                                        <td>Réduire l’exposition entre 11 h et 17 h.</td>
                                    </tr>
                                    <tr>
                                        <td>8-10</td>
                                        <td>Très élevé</td>
                                        <td style="background-color: crimson;"></td>
                                        <td>Sans protection, la peau sera endommagée et peut brûler.</td>
                                    </tr>
                                    <tr>
                                        <td>11+</td>
                                        <td>Extrême</td>
                                        <td style="background-color: blueviolet;"></td>
                                        <td>La peau non protégée sera endommagée et peut brûler en quelques minutes.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <sub><a href="https://fr.wikipedia.org/wiki/Indice_UV">source wikipedia</a></sub>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <span class="bold-span">Visibilité: </span><comment th:text="${forecast.currently.visibility}" />+km
        </div>
        <div class="col-md-2">
            <span class="bold-span">Pression: </span><comment th:text="${forecast.currently.pressure}" />hPa
        </div>
    </div>
</div>
</body>
</html>