<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="currently">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <tr>
                    <td colspan="100%" align="center"><comment th:text="${forecast.location}" /></td>
                </tr>
                <tr>
                    <td>
                        <img th:src="@{'./img/weatherIcon/' + ${forecast.currently.icon} + '.png'}" class="img-big"/></td>
                    <td>
                        <table>
                            <tr>
                                <td style="font-size: 25px;font-weight: 600"><comment th:text="${forecast.currently.temperature}" />°C</td>
                                <td style="font-size: 25px;font-weight: 600; column-width: 1000px;" colspan="3"><comment th:text="${forecast.currently.summary}" /></td>
                            </tr>
                            <tr>
                                <td class="td-width-lg">
                                    <span class="bold-span">Ressentie:</span><comment th:text="${forecast.currently.apparentTemperature}"/>°C
                                </td>
                                <td class="td-width-lg">
                                    <span class="bold-span">Minimal:</span><comment th:text="${forecast.week[0].temperatureMin}" />°C
                                </td>
                                <td class="td-width-lg">
                                    <span class="bold-span">Maximal:</span><comment th:text="${forecast.week[0].temperatureMax}"/>°C
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
</body>
</html>
