<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="week">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <span class="bold-span"><comment th:text="${forecast.weekSummary}" /></span>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div th:each="day : ${forecast.week}">
                <div class="card">
                    <div class="card-header">
                        <img th:src="@{'./img/weatherIcon/' + ${day.icon} + '.png'}" class="img-small"/>
                        <a data-toggle="collapse" th:href="'#day'+${day.id}"><comment th:text="${day.time}"/></span></a>
                    </div>
                    <div class="panel-collapse collapse" th:id="'day' + ${day.id}">
                        <div class="card-body">
                            <table>
                                <tr>
                                    <comment style="font-size: 15px;font-weight: 600" th:text="${day.summary}"/>
                                </tr>
                                <tr>
                                    <td class="td-width-lg"><span class="bold-span">Minimal:</span><comment th:text="${day.temperatureMin}" />°C</td>
                                    <td class="td-width-lg"><span class="bold-span">Maximal:</span><comment th:text="${day.temperatureMax}"/>°C</td>
                                    <td class="td-width-lg">
                                        <img style="width:30px; height:30px" th:src="@{'./img/unitIcon/sunrise.png'}"><comment th:text="${day.sunriseTime}" />
                                    </td>
                                    <td class="td-width-lg">
                                        <img style="width:30px; height:30px" th:src="@{'./img/unitIcon/sunset.png'}"><comment th:text="${day.sunsetTime}" />
                                    </td>
                                    <td class="td-width-lg">
                                        <comment th:if="${day.moonPhase == 0}"><img style="width:30px; height:30px" th:src="@{'./img/moonPhase/moon1.png'}"></comment>
                                        <comment th:if="${day.moonPhase > 0 and day.moonPhase < 0.25}"><img style="width:30px; height:30px" th:src="@{'./img/moonPhase/moon2.png'}"></comment>
                                        <comment th:if="${day.moonPhase == 0.25}"><img style="width:30px; height:30px" th:src="@{'./img/moonPhase/moon3.png'}"></comment>
                                        <comment th:if="${day.moonPhase > 0.25 and day.moonPhase < 0.5}"><img style="width:30px; height:30px" th:src="@{'./img/moonPhase/moon4.png'}"></comment>
                                        <comment th:if="${day.moonPhase == 0.5}"><img style="width:30px; height:30px" th:src="@{'./img/moonPhase/moon5.png'}"></comment>
                                        <comment th:if="${day.moonPhase > 0.5 and day.moonPhase < 0.75}"><img style="width:30px; height:30px" th:src="@{'./img/moonPhase/moon6.png'}"></comment>
                                        <comment th:if="${day.moonPhase == 0.75}"><img style="width:30px; height:30px" th:src="@{'./img/moonPhase/moon7.png'}"></comment>
                                        <comment th:if="${day.moonPhase > 0.75}"><img style="width:30px; height:30px" th:src="@{'./img/moonPhase/moon8.png'}"></comment>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
</body>
</html>